<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/student/layout :: head"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="form">
    <h3>ADD NEW STUDENT</h3>
    <p>
        <a th:href="@{/students}">BACK TO LIST</a>
    </p>
    <form th:action="@{/students/save}" th:object="${student}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}" placeholder="name">
    </div>
       <div>
           <label>Birthday</label>
           <input type="date" th:field="*{dateOfBirth}">
       </div>
       <div>
           <label>Address</label>
           <input type="text" th:field="*{address}">
       </div>
      <div>
          <label>Telephone</label>
          <input type="text" th:field="*{telephone}">
      </div>
       <div>
           <label>Email</label>
           <input type="email" th:field="*{email}">
       </div>
     <div>
         <label>Class Room</label>
         <input type="text" th:field="*{classRoom}">
     </div>
        <input type="submit" value="Save">
    </form>
</div>
<footer th:replace="/student/layout :: footer"></footer>
</body>
</html>