<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/blog/layout :: head"></head>
<body>
<div align="center">
    <h3>Add New Product</h3>
    <p>
        <a th:href="@{/products}">
            Back to Product list
        </a>
    </p>
    <div id="form">
        <form th:action="@{/products/save}" th:object="${product}"
              method="POST" novalidate="novalidate" enctype="multipart/form-data">
            <input name="id"/>
            <div>
                <label>Name</label>
                <input type="text" name="name"/>
            </div>
            <div>
                <label>Singer</label>
                <input name="singerName" type="text"/>
            </div>
            <div>
                <label>Category</label>
                <select name="idCategory">
                    <option value="1">Nhac tre</option>
                    <option value="2">Nhac tru tinh</option>
                    <option value="3">Nhac san</option>
                    <option value="4">Nhac khong loi</option>
                </select>
                <div>
                    <label>File</label>
                    <input type="file" name="fileMusic1"/>
                </div>
            </div>
            <input type="submit" value="Save"/>
        </form>
    </div>
</div>
<footer th:replace="/blog/layout :: footer"></footer>
</body>
</html>