<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/blog/layout :: head"></head>
<body>
<div align="center">
    <div align="center">
        <h3>EDIT PRODUCT</h3>
        <p>
            <a th:href="@{/products}">COME BACK HOME</a>
        </p>
        <div id="form">
            <form action="#" method="post" th:action="@{/products/update}" th:object="${product}"
                name="product"  novalidate="novalidate" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}"/>
                <div>
                    <label>Name :</label>
                    <input type="text" th:field="*{name}">
                </div>
                <div>
                    <label>Singer :</label>
                    <input name="singer" type="text" th:field="*{singerId}">
                </div>
                <div>
                    <label>Category :</label>
                    <input name="category" type="text" th:field="*{categoryId}">
                </div>
                <div>
                    <label>File-Music :</label>
                    <input type="hidden" th:field="*{fileMusic}">
                    <input type="file" name="fileMusic">
                </div>
                <input type="submit" value="Edit">
            </form>
        </div>
    </div>
</div>
<footer th:replace="/blog/layout :: footer"></footer>
</body>
</html>