<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout :: head">
</head>
<body>
<div align="center">
    <h3>PRODUCT LIST</h3>
    <h5>
        <a th:href="@{/products/create}">ADD NEW PRODUCT</a>
    </h5>
    <div>
        <form action="/products/search">
            <input type="text" placeholder="search" name="inputSearch">
            <button type="submit">Search</button>
        </form>
    </div>
    <br>
    <div class="notify">
        <div th:if="${success}">
            <span th:text="${success}"></span>
        </div>
    </div>
    <br>
    <table id="products">
        <tr>
            <th>NAME</th>
            <th>SINGER</th>
            <th>CATEGORY</th>
            <th>FILE-MUSIC</th>
            <th>EDIT</th>
            <th>DELETE</th>
            <th>VIEW</th>
        </tr>
        <tr th:each="product : ${products}" th:object="${product}">
            <td th:text="*{name}"></td>
            <td th:text="*{singer.getId()}"></td>
            <td th:text="*{category.getId()}"></td>
            <td th:text="*{fileMusic}"></td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a>
            </td>
            <td>
                <a th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a>
            </td>
            <td>
                <a th:href="@{/products/view/{id}(id=${product.id})}">View</a>
            </td>
        </tr>
    </table>
</div>
<footer th:replace="/product/layout :: footer"></footer>
</body>
</html>